.nav {
position:fixed;
top:0;
left:0;
right:0;
background:lightblue;
height:62px;
}

.nav h1{
  display:inline-block;
  color:white;
  margin:0px 20px;

}

.nav a {
    padding:20px;
    display: inline-block;
    color:white;
    text-decoration:none;

}

.nav a.active, .nav a:hover {
    background-color: #6c6cb0;
}

.container{
  margin-top:62px;
}

.article{
  border:1px dotted yellow;
}

.artivle~.article{
  margin-top: 20px;
}

.article a{
  text-decoration: none;
  color:black;
}

.about, .single-article p {
  white-space:pre-line;
}

.p {

}
